# =============== #
# Unity generated #
# =============== #
[Tt]emp/
[Oo]bj/
[Bb]uild
[Ll]ibrary/
sysinfo.txt
*.stackdump
*.apk
*.exe
*.pdb
 [bB]Build/
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
[Ee]xported[Oo]bj/
.vs/
/*.userprefs
/*.csproj
/*.pidb
/*.suo
/*.sln*
/*.user
/*.unityproj
/*.booproj
 
# ============ #
# OS generated #
# ============ #
.DS_Store*
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
[Tt]humbs.db
Assets/Standard Assets/Effects/Projectors/Prefabs.meta
Assets/Standard Assets/Effects/Projectors/Materials.meta
Assets/Standard Assets/Effects/Projectors.meta
Assets/Standard Assets/Effects/LightFlares/Textures.meta
Assets/Standard Assets/Effects/TessellationShaders/Textures.meta
Assets/Standard Assets/Effects/TessellationShaders/Shaders.meta
Assets/Standard Assets/Effects/TessellationShaders/Scenes.meta
Assets/Standard Assets/Effects/TessellationShaders/Models.meta
Assets/Standard Assets/Effects/LightFlares/Materials.meta
Assets/Standard Assets/Effects/LightFlares/Flares.meta
Assets/Standard Assets/Effects/LightFlares.meta
Assets/Standard Assets/Effects/LightCookies/Textures.meta
Assets/Standard Assets/Effects/GlassRefraction/Materials.meta
Assets/Standard Assets/Effects/GlassRefraction.meta
Assets/Standard Assets/Effects.meta
Assets/Standard Assets/Effects/TessellationShaders/Materials.meta
Assets/Standard Assets/Effects/TessellationShaders.meta
Assets/Standard Assets/Effects/Projectors/Textures.meta
Assets/Standard Assets/Effects/Projectors/Shaders.meta
Assets/Standard Assets/Effects/LightCookies.meta
Assets/Standard Assets/Effects/ToonShading/Textures.meta
Assets/Standard Assets/Effects/ToonShading/Shaders.meta
Assets/Standard Assets/Effects/ToonShading/Materials.meta
Assets/Standard Assets/Effects/ToonShading.meta
Assets/Standard Assets/Effects/ImageEffects.meta
Assets/Standard Assets/Effects/GlassRefraction/Textures.meta
Assets/Standard Assets/Effects/GlassRefraction/Shaders.meta
